{% extends '../base.html' %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="/static/js/common.js"></script>
{% endblock %}

{% block body %}
<div id="wrapper">
	{% block header %}
	<div id="header" class="clearfix">
		<div id="logo"><img src="/static/images/logo.png" alt="Donald Knuth College" title="Donald Knuth College" width="196" height="100" /></div>
		<div id="slogan"><h1>Donald Knuth College</h1><p>Inschrijven - Ouderavonden</p></div>
		<div id="fontScaling"><a class="scale1" href="javascript:resizeFonts(0);">A</a> <a class="scale2" href="javascript:resizeFonts(1);">A</a> <a class="scale3" href="javascript:resizeFonts(2);">A</a></div>
	</div>
	{% endblock %}
	<div id="content">
		<h1>Inschrijven - login</h1>
		<!-- Notifications -->
		{% if notifications %}
		<div id="errors">
			<h2>Meldingen</h2>
			<ul>
				{% for notification in notifications %}
				<li>{{ notification }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<form method="post" action="">
		<div class="label-pair clearfix">
			<label>Verzorgersnummer:</label><input type="text" name="guardian-id" /><br />
		</div>
		<div class="label-pair clearfix">	
			<label>Sleutel:</label><input type="password" name="passphrase" /><br />
		</div>
			<input type="submit" value="Inloggen als ouder/verzorger " name="guardian-login" /><br />
		</form>
	</div>
</div>
{% endblock %}
