{% extends '../base.html' %}

{% block body %}
<div id="wrapper">
	{% block header %}
	<div id="header" class="clearfix">
		<div id="logo"><img src="/static/images/logo.png" alt="Donald Knuth College" title="Donald Knuth College" width="196" height="100" /></div>
		<div id="slogan"><h1>Donald Knuth College</h1><p>Inschrijven - Ouderavonden</p></div>
		<div id="fontScaling"><a class="scale1" href="javascript:resizeFonts(0);">A</a> <a class="scale2" href="javascript:resizeFonts(1);">A</a> <a class="scale3" href="javascript:resizeFonts(2);">A</a></div>
		<div id="logout"><a href="/inschrijven/uitloggen">Uitloggen</a></div>
	</div>
	{% endblock %}
	<div id="content">
		<h1>Inschrijven voor ouderavond - {{event.event_name}}</h1>
		
		<form method="post" action="">
			{% if notifications %}
			<div id="notifications">
				<h2>Meldingen</h2>
				<ul>
					{% for notification in notifications %}
					<li>{{ notification }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		
		
			{% for student in students %}
			<div id="{{student.0.key.name}}" class="student">
				<h2>{{student.0.firstname}} {{student.0.preposition}} {{student.0.lastname}}</h2>
				<p>Kies hier welke vakken u wilt bespreken:</p>	
					{% for subject in student.1 %}
					<input type="checkbox" value="{{subject.key.name}}" name="subject_{{student.0.key.name}}" /> {{subject.name}}<br />
					{% endfor %}
			</div>
			{% endfor %}
		
			<div class="date-section">
				<h2>Voorkeur van datum</h2>
				<p>Geef hier aan wat uw voorkeur is voor wat betreft de avond waarop u
				uitgenodigd wordt. Kies het cijfer 1 bij de avond waarop u het liefst
				uitgenodigd wordt, en kies het cijfer 3 bij de avond waar uw voorkeur het minst
				naar uitgaat.</p>		
					
				{% for day in days %}
				<p><span class="date">{{day.date.year}}-{{day.date.month}}-{{day.date.day}}</span>
				<span class="date-option">1 <input type="radio" value="1" name="date_{{ day.key.id }}" /></span>
				<span class="date-option">2 <input type="radio" value="2" name="date_{{ day.key.id }}" /></span>
				<span class="date-option">3 <input type="radio" value="3" name="date_{{ day.key.id }}" /></span> 
				{% endfor %}
			</div>
	
			<div class="time-pref-section">
				<h2>Voorkeur van tijd</h2>
				<p>Geef hier aan of u liever vroeg of laat in de avond in gepland wilworden.</p>		
				<p><span class="time">Geen voorkeur</span><input type="radio" value="0" name="time_pref"/></p>
				<p><span class="time">Vroeg</span><input type="radio" value="1" name="time_pref" /></p>
				<p><span class="time">Laat</span><input type="radio" value="2" name="time_pref" /></p>
			</div>	
					
			<input type="submit" value="Inschrijving completeren" name="save_subscription" />
		</form>
	</div>
</div>

<script>
$(".student").each(function (i, o) {
	var id = $(o).attr('id');
	$("#" + id).find("input[type=checkbox]").click(function() {
		var bol = $("#" + id + " input[type=checkbox]:checked").length >= 3;     
	    $("#" + id + " input[type=checkbox]").not(":checked").attr("disabled",bol);
	});
});
</script>
{% endblock %}
