<html>
<head>
<title>Requests</title>
</head>

<body>
<h1>Requests</h1>
<p>Hier komt een lijst met inschrijvingen.</p>

<ul>
{% for guardian in guardians|slice:":5" %}
	<li>{{ guardian.title }} {{ guardian.initials }} {{ guardian.lastname }}</li>
	{% for time in guardian.time_preferences %}
	{% ifequal time.event.key event.key %}
	<li>
		Voorkeur: {% ifequal time.preference 0 %}Geen{% endifequal %}
				  {% ifequal time.preference 1 %}Vroeg{% endifequal %}
				  {% ifequal time.preference 2 %}Laat{% endifequal %}
	</li>
	{% endifequal %}
	{% endfor %}
	{% for day in guardian.day_preferences %}
		<li>{{ day.day.date }}: {{ day.rank }}</li>
	{% endfor %}
	<ul>
		{% for child in guardian.children %}
			<li>{{ child.firstname }} {{ child.lastname }}</li>
			<ul>
				{% for request in child.requests %}
					<li>{{ request.combination.subject.name }}</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</ul>
{% endfor %}
<ul>


</body>
</html>