{% extends '../base.html' %}

{% block body %}
<div id="wrapper">
	{% block header %}
	<div id="header" class="clearfix">
		<div id="logo"><img src="/static/images/logo.png" alt="Donald Knuth College" title="Donald Knuth College" width="196" height="100" /></div>
		<div id="slogan"><h1>Donald Knuth College</h1><p>Administratie - Ouderavonden</p></div>
		<div id="fontScaling"><a class="scale1" href="javascript:resizeFonts(0);">A</a> <a class="scale2" href="javascript:resizeFonts(1);">A</a> <a class="scale3" href="javascript:resizeFonts(2);">A</a></div>
		<!-- <div id="logout"><a href="/administratie/uitloggen">Uitloggen</a></div> -->
	</div>
	{% endblock %}
	<div id="content">
		<h1>Administratie</h1>
		<h2>Ouderavondreeksen</h2>
		<ul class="administration-links">
			<li><a href="/administratie/events">Overzicht ouderavondreeksen</a></li>
			<li><a href="/administratie/event/nieuw">Nieuwe ouderavondreeks</a></li>
		</ul>
		
		<h2>Planning</h2>
		<ul class="administration-links">
			<li><a href="">Genereer een planning</a></li>
			<li><a href="">Bekijk de planning</a></li>
		</ul>		
	</div>
</div>
{% endblock %}
