{% extends "event-base.html" %}

{% block content %}

	<style type="text/css">
	th
	{
		text-align: left;
	}
	
	div#new_event
	{
		width: 960px; 
		height: 50px; 
		border: 1px solid #000000; 
		font-size: 28; 
		font-weight: bold;
	}
	
	a#new_event_button
	{
		text-align: center;
		margin-top: 8px;
		color: #000000;
		text-decoration: none;
		display:block;
		width: 100%; 
		height: 100%;
	}
	
	ul#events
	{
		margin: 0;
		margin-top: 20px;
		padding: 0;
		list-style-type: none;
	}
	
	ul#events li
	{
		width: 960px;
		border-width: 1px 1px 0 1px;
		border-style: solid;
		border-color: #000000;
	}

	ul#events li:last-child
	{
		width: 960px;
		border-width: 1px 1px 1px 1px;
		border-style: solid;
		border-color: #000000;
	}

	
	.clearFix:after
	{
		clear: both;
		display: block;
		height: 0;
		content: ".";
		visibility: hidden;
	}
	
	.clearFix div
	{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
		position: relative; 
		float: left; 
		width: 290px;
	}
	
	.clearFix div.event_title
	{
		clear: both;
	}
	</style>

	<div id="new_event"><a id="new_event_button" href="#">Nieuwe ouderavond</a></div>
	
	<div id="existing_events">
	<!--
		Te generen uit de database, voorbeeld hardcoded.
	-->
		<ul id="events">
			{% for event in events %}
			<li class="clearFix">
				<div class="event_title">
					<b>{{event.event_name}}</b>
				</div>
				<div class="event_dates">
					<table>
						<tr>
							<th>Data</th>
						</tr>
						{% for day in days %}
						{% ifequal day.event.event_id event.event_id %}
						<tr>
							<td>{{day.date.year}}-{{day.date.month}}-{{day.date.day}}</td><td>{{day.date.hour}}:{{day.date.minute}}{% ifequal day.date.minute 0 %}0{% endifequal %} - 22:00</td>
						</tr>
						{% endifequal %}
						{% endfor %}
					</table>
				</div>
				<div class="event_status">
					<b>Status</b><br />
					Uitnodigingen zijn nog niet verzonden
					<form action="" method="post">
						<input type="submit" value="Verstuur uitnodigingen" />
					</form>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}