{% extends "event-base.html" %}
{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="/static/js/common.js"></script>
{% endblock %}
{% block content %}
	<div id="content" class="clearfix">
		<div class="breadcrumb"><a href="/">Home</a> / <a href="/administratie">Overzicht ouderavondreeksen</a></div>
		<h1>Overzicht ouderavondreeksen</h1>
		{% if notifications %}
		<div id="notifications">
			<h2>Meldingen</h2>
			<ul>
				{% for notification in notifications %}
				<li>{{ notification }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<form method="post" action="">
			<div class="label-pair clearfix">
				<label>Zoek op:</label>
				<input type="radio" value="guardian" name="search-on"/> Voogd<br />
				<label>&nbsp;</label>
				<input type="radio" value="teacher" name="search-on"/> Docent<br />
			</div>
			<div class="label-pair clearfix">	
				<label>Voogdnummer of Docentcode:</label><input type="text" name="search-code" /><br />
			</div>
			<input type="submit" value="Zoek afspraak" name="search-appointment" /><br />
		</form>
		{% if appointments %}
		<div id="appointments">
			<table>
			{% for appointment in appointments %}	
				{% if appointment %}
				<!-- day -->
				<tr>
					<td>
						Datum: {{appointment.day.date.year}}-{{appointment.day.date.month}}-{{appointment.day.date.day}}
					</td>
					<td>
						Tafel: {{appointment.table}}
					</td>
					<td>
						Slot: {{appointment.slot}}
					</td>
				</tr>
				{% endif %}
			{% endfor %}
			</table>
		</div>		
		{% endif %}
	</div>
{% endblock %}