{% extends "event-base.html" %}

{% block css %}
	{{ block.super }}
	<link type="text/css" rel="stylesheet" href="/static/css/jquery-ui-1.8.16.custom.css" media="all" />		
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="/static/js/administration-events.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ui.datepicker-nl.js"></script>		
{% endblock %}

{% block content %}
<div id="content">
	<a href="/administratie">Terug naar het overzicht</a>
	<form id="event-form" method="post" action="">
		
		<!-- Main information -->
		<h1>Nieuwe ouderavondreeks</h1>
		<h2>Algemene informatie</h1>
		<div class="label-pair clearfix">
			<label>Titel ouderavondreeks</label>
			<input type="text" name="i-name" value="" />
		</div>
		<div class="label-pair clearfix">
			<label>Datum herinnering voor versturen voor uitnodigingen</label>
			<input type="hidden" id="i-reminder-date" name="i-reminder-date" value="" />
			<input type="text" id="i-reminder-datepicker" name="i-reminder-datepicker" value="" />
		</div>
		<div class="label-pair clearfix">
			<label>Lengte slots</label>
			<input type="text" name="i-talktime" value="" />
		</div>			
		
		<div class="label-pair clearfix">
			<label>Aantal tafels</label>
			<input type="text" name="i-tables" value="" />
		</div>			
		
		<!-- Subscription period -->
		<h2>Inschrijfperiode</h2>
		<div class="label-pair clearfix">
			<label>Opening inschrijfperiode</label>
			<input type="text" name="i-subscr-open" value="" />
		</div>
		<div class="label-pair clearfix">
			<label>Sluiting inschrijfperiode</label>
			<input type="text" name="i-subscr-close" value="" />
		</div>

		<!-- Dates section -->
		<div id="dates-section" class="clearfix">	
			<h2>Data</h2>
			<div class="clearfix">
				<p>
					<span class="date-nr-head">#</span>
					<span>Datum</span>
					<span>Start tijd</span>
					<span>Aantal slots</span>
				</p>
			</div>
			<ul id="date-list">
				<li class="date-entry">				
					<p><span class="date-nr">1</span></p>
					<input type="hidden" id="i-nr-1" class="i-nr" name="i-nr" value="1" />
					<input type="hidden" id="i-date-event-1" class="i-date-event" name="i-date-event" value="" />
					<input type="text" id="i-datepicker-event-1" class="i-datepicker-event" class="i-datepicker-event" name="i-datepicker-event" value="" />
					<input type="text" id="i-starttime-1" class="i-starttime" name="i-starttime" value="" />	
					<input type="text" id="i-slots-1" class="i-slots" name="i-slots" value="" />
					<input type="checkbox" id="i-remove-date-1" class="i-remove-date" name="i-remove-date" value="Verwijder datum" />
				</li>
				<input type="submit" id="i-add-date-entry" name="i-add-date-entry" class="st" onclick="addDateEntry(); return false;" value="Voeg datum toe" />
				<input type="submit" id="i-remove-date-entries" name="i-remove-date-entries" onclick="removeDateEntries(); return false;" value="Verwijder geselecteerde data" />
			</ul>
		</div>
		<input type="submit" name="submitForm" value="Opslaan" />
	</form>
</div>
{% endblock %}