{% extends "event-base.html" %}

{% block css %}
	{{ block.super }}
	<link type="text/css" rel="stylesheet" href="/static/css/jquery-ui-1.8.16.custom.css" media="all" />		
{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="/static/js/administration-events.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ui.datepicker-nl.js"></script>		
{% endblock %}

{% block content %}
<div id="content">
	<a href="/administratie">Terug naar het overzicht</a>
	<h1>Nieuwe ouderavondreeks</h1>	
	<form id="event-form" method="post" action="">
		
		<!-- Error information -->
		{% if errors %}
		<div id="errors">
			<h2>Foutmeldingen</h2>
			<ul>
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		
		<!-- Main information -->
		<div class="label-pair clearfix">
			<label>Titel ouderavondreeks</label>
			<input type="text" name="i-name" value="{% if event.event_name %}{{event.event_name}}{% endif %}" />
		</div>
		<div class="label-pair clearfix">
			<label>Startdatum</label>
			<input id="i-startdate" type="hidden" name="i-startdate" value="{% if day %}{{day.date.year}}-{{day.date.month}}-{{day.date.day}}{% endif %}" />
			<input id="i-startdate-datepicker" type="text" value="{% if monthText %}{{day.date.day}} {{monthText}} {{day.date.year}}{% endif %}" />
		</div>
		<input type="submit" name="i-save-event" value="Opslaan" /><input type="submit" name="i-delete-event" value="Verwijderen" />
	</form>
</div>
{% endblock %}