{% extends "event-base.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
	function showAddress(select)
	{
		var value = select.value;
		if (value == "Specific address(es)")
		{
			document.getElementById('addressDiv').innerHTML = '<label for="addresses">Address(es) (multiple addresses should be split by a \';\')</label><br /><input style="width: 420px;" type="text" name="addresses" id="addresses" /><br /><br />';
		}
		else
		{
			document.getElementById('addressDiv').innerHTML = '';
		}
	}
</script>
{% endblock %}

{% block content %}
<div id="content">
	<form id="event-form" method="post" action="/mail">
		<label for="select">Send to</label><br />
		<select name="target" id="target" onchange="showAddress(this);">
			<option>All guardians</option>
			<option>All teachers</option>
			<option>Specific address(es)</options>
		</select><br /><br />
		<div id="addressDiv"></div>
		<label for="title">Title</label><br />
		<input type="text" name="title" id="title" /><br />
		<br />
		<label for="text">Message</label><br />
		<textarea rows="8" cols="50" name="text" id="text"></textarea><br />
		<input type="submit" name="send-mail" value="Verstuur" />
	</form>
</div>
{% endblock %}