@charset "UTF-8";

/************************ 	BASIC TAG SETTINGS		************************/
body {
	font-family: "Trebuchet MS";
	line-height: 20px;
	font-size: 13px;
}
h1 {
	font-size: 1.85em;
	font-weight: bold;
	padding: 10px 0;
}
h2 {
	font-size: 1.38em;
	font-weight: bold;
	padding: 20px 0;
}
input {
	font-size: 1em;
	font-family: "Trebuchet MS";
}
li {
	display: block;
}

/************************ 	FORM ELEMENT CLASSES		************************/
.i-t {
	height: 30px;
	border: 1px solid #ddd;
	line-height: 30px;
	padding: 0 5px;
}
.i-s {
	padding: 2px 5px;
}

/************************ 	COMMON STRUCTURE SETTINGS		************************/
#content {
	width: 900px;
	padding: 30px;
}
#header {
	border-bottom: 1px solid #333;
}
#logo {
	float: left;
	height: 100px;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	border-width: 0 1px 0 1px;
	border-color: #eee;
	border-style: solid;
}

/************************ 	EVENT FORMS		************************/
#event-form {
	padding: 10px 0 0 0;
}

#event-form #errors {
	background-color: #ff8080;
	padding: 0 15px 15px 15px;
	margin-bottom: 20px;
}
#event-form #errors h2 {
	color: #fff;
}
#event-form #errors ul {
	list-style: disc inside none;
	color: white;
}
#event-form #errors ul li {
	display: list-item;
}
#event-form .label-pair {
	padding: 0 0 5px 0;
}
#event-form .label-pair label {
	width: 320px;
	float: left;
	display: block;
}
#event-form .label-pair input.i-t {
	width: 310px;
}

#dates-section {
	width: 898px;
	padding-bottom: 40px;
}
#dates-section span {
	float:left;
	width: 200px;
}
#dates-section span.date-nr, #dates-section span.date-nr-head {
	width:30px;
}
#date-list span.date-nr {
	
}
#date-list input.i-t {
	margin-right: 34px;
	width: 150px;
}
#date-list input.i-s.st {
	margin: 10px 0 0 30px;
}
#date-list li {
	padding-top: 5px;
}
#date-entry-sample {
	display: none;
}

/************************ 	CLEARFIX 	************************/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

/************************ 	EVENT OVERVIEW		************************/
th
{
	text-align: left;
}
	
div#new_event
{
	width: 960px; 
	height: 50px; 
	border: 1px solid #000000;
	font-weight: bold;
}
	
a#new_event_button
{
	text-align: center;
	margin-top: 8px;
	color: #000000;
	text-decoration: none;
	display:block;
	width: 100%; 
	height: 100%;
}
	
ul#events
{
	margin: 0;
	margin-top: 20px;
	padding: 0;
	list-style-type: none;
}

ul#events li
{
	width: 960px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #000000;
}

ul#events li:last-child
{
	width: 960px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #000000;
}

.clearFix div.event_title, .clearFix div.event_status, .clearFix div.event_dates
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative; 
	float: left; 
	width: 290px;
}

.clearFix div.event_title
{
	clear: both;
}

#fontScaling
{
	font-size: 13px;
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}

#fontScaling a
{ 
	color: #000000;
}

.scale1
{
	font-size: 13px;
	text-decoration: underline;
}
	
.scale2
{
	font-size: 16px;
	text-decoration: none;
}
	
.scale3
{
	font-size: 19px;
	text-decoration: none;
}