@charset "UTF-8";

/************************ 	BASIC TAG SETTINGS		************************/
body {
	font-family: "Trebuchet MS";
	line-height: 20px;
	font-size: 13px;
}
h1 {
	font-size: 24px;
	font-weight: bold;
}
h2 {
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0;
}
input {
	font-size: 13px;
	font-family: "Trebuchet MS";
}
li {
	display: block;
}

/************************ 	FORM ELEMENT CLASSES		************************/
.i-t {
	height: 30px;
	border: 1px solid #ddd;
	line-height: 30px;
	padding: 0 5px;
}
.i-s {
	padding: 2px 5px;
}

/************************ 	COMMON STRUCTURE SETTINGS		************************/
#content {
	width: 900px;
	padding: 30px;
}
#header {
	border-bottom: 1px solid #333;
}
#logo {
	float: left;
	height: 100px;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	border-width: 0 1px 0 1px;
	border-color: #eee;
	border-style: solid;
}

/************************ 	EVENT FORMS		************************/
#event-form {
	padding: 10px 0 0 0;
}
#event-form .label-pair {
	padding: 0 0 5px 0;
}
#event-form .label-pair label {
	width: 320px;
	float: left;
	display: block;
}
#event-form .label-pair input.i-t {
	width: 310px;
}
#dates-section {
	width: 898px;
	padding-bottom: 40px;
}
#dates-section span {
	float:left;
	width: 200px;
}
#dates-section span.date-nr, #dates-section span.date-nr-head {
	width:30px;
}
#date-list span.date-nr {
	
}
#date-list input.i-t {
	margin-right: 34px;
	width: 150px;
}
#date-list input.i-s.st {
margin: 10px 0 0 30px;
}
#date-list li {
	padding-top: 5px;
}
#date-entry-sample {
	display: none;
}

/************************ 	CLEARFIX 	************************/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}