@charset "UTF-8";

/************************ 	BASIC TAG SETTINGS		************************/
a {
	text-decoration: none;
	color: blue;
}
body {
	font-family: "Trebuchet MS";
	line-height: 20px;
	font-size: 13px;
}
h1 {
	font-size: 1.85em;
	font-weight: bold;
	padding: 10px 0;
}
h2 {
	font-size: 1.38em;
	font-weight: bold;
	padding: 20px 0;
}
input {
	font-size: 1em;
	font-family: "Trebuchet MS";
}
li {
	display: block;
}

/************************ 	FORM ELEMENT CLASSES		************************/
.i-t {
	height: 30px;
	border: 1px solid #ddd;
	line-height: 30px;
	padding: 0 5px;
}
.i-s {
	padding: 2px 5px;
}

/************************ 	COMMON STRUCTURE SETTINGS		************************/
#content {
	width: 900px;
	padding: 30px;
}
#header {
	border-bottom: 1px solid #333;
	padding: 10px 20px 20px 20px;
}
#logo {
	float: left;
	height: 100px;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 10px 0 0 0;
	border-width: 0 1px 0 1px;
	border-color: #aaa;
	border-style: solid;
}

/************************ 	EVENT FORMS		************************/
#event-form {
	padding: 10px 0 0 0;
}

#event-form #errors {
	background-color: #ff8080;
	padding: 0 15px 15px 15px;
	margin-bottom: 20px;
}
#event-form #errors h2 {
	color: #fff;
}
#event-form #errors ul {
	list-style: disc inside none;
	color: white;
}
#event-form #errors ul li {
	display: list-item;
}
#event-form .label-pair {
	padding: 0 0 5px 0;
}
#event-form .label-pair label {
	width: 320px;
	float: left;
	display: block;
}
#event-form .label-pair input.i-t {
	width: 310px;
}

#dates-section {
	width: 898px;
	padding-bottom: 40px;
}
#dates-section span {
	float:left;
	width: 200px;
}
#dates-section span.date-nr, #dates-section span.date-nr-head {
	width:30px;
}
#date-list span.date-nr {
	
}
#date-list input.i-t {
	margin-right: 34px;
	width: 150px;
}
#date-list input.i-s.st {
	margin: 10px 0 0 30px;
}
#date-list li {
	padding-top: 5px;
}
#date-entry-sample {
	display: none;
}

/************************ 	CLEARFIX 	************************/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

/************************ 	EVENT OVERVIEW		************************/
th
{
	text-align: left;
}

#event-list {
	padding-top: 10px;
}
#event-list .title {
	width: 200px;
	float: left;
}
#event-list .dates {
	width: 300px;
	float: left;
}
#event-list .event-entry {
	padding: 5px 0;
	border-bottom: 1px solid #aaa;
}
#new-event-button {
	text-align: center;
	padding: 20px 0;
	background-color: #ddd;
	color: #000;
	display:block;
	margin-bottom: 10px;
	font-size: 18px;
}

#new-event-button:hover {
	background-color: #bbb;
	color: #000;
}

#fontScaling
{
	font-size: 13px;
	position: relative;
	float: right;
	margin-right: 10px;
	margin-top: 15px;
}

#fontScaling a
{ 
	color: #000000;
}

.scale1
{
	font-size: 13px;
	text-decoration: underline;
}
	
.scale2
{
	font-size: 16px;
	text-decoration: none;
}
	
.scale3
{
	font-size: 19px;
	text-decoration: none;
}

/**/
.date-option {
	display: inline-block;
    width: 40px;
}
.date { 
	display: inline-block; 
	width: 165px; 
}
.student {
	padding-bottom: 20px;
}
.time { 
	display: inline-block; 
	width: 120px; 
}
.date-section {
	padding-bottom: 20px;
}
.time-pref-section {
	padding-bottom: 20px;
}
	

